<!DOCTYPE html>
<html>
<head>
    <title>MySQL 데이터를 표시하는 테이블</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                {% for column in df.columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in df.values %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
